* {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
}

li {
    margin: 15px 5px;
}

.nav-bar li a:hover {
    font-size: 110%;
    transition: 300ms;
}

.logo {
    height: 30px;
    margin: 15px 30px;
}


section {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* .child {
    background-image: linear-gradient(145deg, lightSeaGreen, lightCoral, lightSkyBlue);
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 10px gray;
} */
/* #main {
    box-shadow: 1px 1px 15px lightblue;
} */

.button {
    border: 0;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    line-height: 2.5;
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(76, 0, 255, 1);
    background-image: linear-gradient(to top left, rgba(76, 0, 255, 0.2), rgba(76, 0, 255, 0.2) 30%, rgba(76, 0, 255, 0));
    box-shadow:  inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(116, 57, 252);;
}
.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}